*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$vinho : rgb(44, 0, 40); 

.menu{
    // border: 1px solid red;
    height: 150px;
    width: 100%;
    background-color:rgb(24, 22, 22);
    display: flex;
    justify-content: space-around;
    align-items: center;

    .proj{
    // border: 1px solid red;
        text-align: center;
        

        button{
            width: 180px;
            height: 50px;
            border-radius: 30px;
            border: none;
            background-color: rgba(54, 54, 54, 0.63);
            transition: 0.5s;


            a{
                text-decoration: none;
                color: rgb(231, 221, 221);
                letter-spacing: 0.5px;
                font-family: 'Poppins', sans-serif;
                transition: 0.5s;
                font-weight: 100;
                
              }a:hover{
                transition: 0.5s;
                letter-spacing: 1px;
            font-size: 14px;

                }
            
        }button:hover{
            border-radius: 0px;
            transition: 0.5s;
            box-shadow: 2px  2px 2px 2px #f165c3;


        }
    }

    .img{
    // border: 1px solid red;
    height: 150px;
    width: 250px;
    text-align: center;
        

        img{
            width: 50%;
        }
    }

    .box{
        width: 150px;
        height: 40px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
  

        i{
           margin-left: 20px;
           color: rgb(207, 207, 207);
           transition: 0.5s;
           font-size: 22px;
        }.roxo:hover{
            color: purple;
           transition: 0.5s;
        }.azul:hover{
            color: rgb(0, 83, 238);
            transition: 0.5s;
        }.twi:hover{
            color: rgb(0, 154, 214);
            transition: 0.5s;
        }
    }

}




// Seção 1 //////////////////////

.section1{
    height: 840px;
    border: 1px solid red;
    background-image: url(img/logoteste.png);
    background-size: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;


    .box-container{
    border: 1px solid red;
    margin-left: 60px;
    width: 1000px;
    height: 300px;


        h1{
            font-size: 100px;
            color: #fff;
            text-shadow: 0.2em 0.2em 0.2em black;
         font-family: 'Poppins', sans-serif;
            transition: 1s;
         span{
            font-weight: 100;
            font-size: 70px;
         }



        }h1:hover{
            text-shadow: 0 2px 4px #f165c3;
            transition: 1s;
            color: #d38ae9 ;

        }
    }

}