*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$vinho : rgb(44, 0, 40); 

.menu{
    // border: 1px solid red;
    height: 150px;
    width: 100%;
    background-color:$vinho;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .proj{
    // border: 1px solid red;
        text-align: center;
        

        button{
            width: 180px;
            height: 50px;
            border-radius: 20px;
            border: none;
            background-color: rgba(78, 2, 72, 0.541);
            transition: 0.5s;


            a{
                text-decoration: none;
                color: rgb(231, 221, 221);
                letter-spacing: 0.5px;
                font-family: 'Poppins', sans-serif;
                transition: 0.5s;
                font-weight: 100;
                
              }a:hover{
                transition: 0.5s;
                letter-spacing: 1px;
                }
            
        }button:hover{
            border-radius: 0px;
            transition: 0.5s;

        }
    }

    .img{
    // border: 1px solid red;
    height: 150px;
    width: 250px;
    text-align: center;
        

        img{
            width: 50%;
        }
    }

    .box{
        width: 150px;
        height: 40px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
  

        i{
           margin-left: 20px;
           color: rgb(207, 207, 207);
           transition: 0.5s;
           font-size: 22px;
        }.roxo:hover{
            color: purple;
           transition: 0.5s;
        }.azul:hover{
            color: rgb(0, 83, 238);
            transition: 0.5s;
        }.twi:hover{
            color: rgb(0, 154, 214);
            transition: 0.5s;
        }
    }

}




// Seção 1 //////////////////////

.section1{
    height: 920px;
    // border: 1px solid red;
    background-image: url(img/fundo1.png);

}